@model UserManagement.Web.Models.Logs.LogListItemViewModel

<h2>Log</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Log ID</th>
                <th>Action Taken</th>
                <th>Name of user</th>
                <th>User ID</th>
                <th>Log Date</th>
                <th>Log Time</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Model.Id
                    </td>
                    <td>
                        @Model.ActionTaken.ToString()
                    </td>
                    <td>
                        @(Model.Forename + " " + Model.Surname)
                    </td>
                    <td>
                        @Model.UserId
                    </td>
                    <td>
                        @Model.Time.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Model.Time.ToString("HH:mm:ss")
                    </td>
                </tr>
        </tbody>
    </table>
</div>

<h2>User State at Log:</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Account Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.UserId
                </td>
                <td>
                    <div>@Model.Forename</div>
                    <div style="color: @(ViewBag.ForenameChanged ? "green" : "transparent")">
                        @(ViewBag.ForenameChanged ? "modified" : "")
                    </div>
                </td>
                <td>
                    <div>@Model.Surname</div>
                    <div style="color: @(ViewBag.SurnameChanged ? "green" : "transparent")">
                        @(ViewBag.SurnameChanged ? "modified" : "")
                    </div>
                </td>
                <td>
                    <div>@Model.Email</div>
                    <div style="color: @(ViewBag.EmailChanged ? "green" : "transparent")">
                        @(ViewBag.EmailChanged ? "modified" : "")
                    </div>
                </td>
                <td>
                    <div>@(Model.DateOfBirth?.ToString("dd/MM/yyyy"))</div>
                    <div style="color: @(ViewBag.DateOfBirthChanged ? "green" : "transparent")">
                        @(ViewBag.DateOfBirthChanged ? "modified" : "")
                    </div>
                </td>
                <td>
                    <div>
                        @if (Model.IsActive.HasValue)
                        {
                            @((bool)Model.IsActive ? "Yes" : "No")
                        }
                    </div>
                    <div style="color: @(ViewBag.IsActiveChanged ? "green" : "transparent")">
                        @(ViewBag.IsActiveChanged ? "modified" : "")
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>

