@model UserManagement.Web.Models.Users.UserListItemViewModel


<h2>View User Details</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Forename</th>
            <td>
                @Model.Forename
            </td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>
                @Model.Surname
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>
                @Model.DateOfBirth?.ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr>
            <th>Account Active</th>
            <td>
                @(Model.IsActive ? "Yes" : "No")
            </td>
        </tr>
        <tr>
            <th style="width: 1px;"></th>
        </tr>
    </table>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" class="btn btn-default">Go Back</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Log ID</th>
                <th>Action Taken</th>
                <th>Log Date</th>
                <th>Log Time</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Logs)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.ActionTaken.ToString()
                    </td>
                    <td>
                        @item.Time.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Time.ToString("HH:mm:ss")
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                <li><a asp-controller="Logs" asp-action="ViewLog" asp-route-id="@item.Id" class="dropdown-item">Log Details</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


